<div id="social">
  <ul>
    {{ if .Site.Params.Social.Facebook }}
      <li><a href="http://www.facebook.com/{{ .Site.Params.Social.Facebook }}"><i class="fa fa-facebook fa-lg"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Twitter }}
      <li><a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}"><i class="fa fa-twitter fa-lg"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Github }}
      <li><a href="http://github.com/{{ .Site.Params.Social.Github }}"><i class="fa fa-github fa-lg"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Soundcloud }}
      <li><a href="https://soundcloud.com/{{ .Site.Params.Social.Soundcloud }}"><i class="fa fa-soundcloud fa-lg"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.LinkedIn }}
      <li><a href="http://linkedin.com/in/{{ .Site.Params.Social.LinkedIn }}"><i class="fa fa-linkedin fa-lg"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Stackoverflow }}
      <li><a href="http://stackoverflow.com/{{ .Site.Params.Social.Stackoverflow }}"><i class="fa fa-stack-overflow fa-lg"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Email }}
      <li><a href="mailto:{{ .Site.Params.Social.Email }}"><i class="fa fa-envelope fa-lg"></i></a></li>
    {{ end }}

  </ul>
</div>